.App {
  text-align: center;
  width: 100%;
  position: relative;
}

.tableApp {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    position: relative;
}

table {
    border-collapse: collapse;
    background-color: transparent;
    display: table;
    border-spacing: 2px;
    border-color: grey;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.tableApp thead th {
  color: #fff;
  background-color: green;
}

.tableApp td, .tableApp th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}

th {
    text-align: left;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

